body {
  font-family: "Lato", "sans-serif";
  -webkit-font-smoothing: antialiased;
  color: #232323;
}

nav li:last-child a {
  background-color: #fe5f1e;
}
nav li:last-child a:hover {
  background-color: #b23301;
}

nav a {
  transition: all 0.3s ease-in-out;
}
nav a:hover {
  color: #fe5f1e;
}

.ordernow-btn {
  background-color: #fe5f1e;
  padding: 10px;
  border-radius: 15px;
  color: white;
  transition: all 0.3s ease-in-out;
  min-width: 5rem;
}
.ordernow-btn:hover {
  background-color: #b23301;
}

.hero {
  background-color: #f8f8f8;
}

.size {
  background-color: #f8f8f8;
}

.add-to-cart {
  border: 2px solid #fe5f1e;
  padding: 4px 18px;
  border-radius: 10px;
  color: #fe5f1e;
  margin-left: 10px;
  transition: all 0.3s ease-in-out;
}
.add-to-cart:hover {
  background-color: #fe5f1e;
  color: #fff;
}

.prize-add {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.menu {
  padding: 30px 0;
}

.primary {
  color: #fe5f1e;
}
.primary:hover {
  color: #b23301;
}

.cart {
  padding: 30px 0;
  background-color: #f8f8f8;
  min-height: 87vh;
}

.total h3 {
  color: #fe5f1e;
}

.login {
  background-color: #f8f8f8;
  min-height: 87vh;
}
